* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-image: url(https://gmedia.playstation.com/is/image/SIEPDC/spiderman-miles-morales-screenshot-04-disclaimer-en-01oct20?$1200px--t$);
    background-size: cover;
    background-position: top;
}

.nav {
    width: 60%;
    height: 50px;
    background-color: transparent;
    position: absolute;
}

.item:hover {
    cursor: pointer;
}

.item {
    color: white;
    position: absolute;
    top: 35px;
    font-family: 'Belleza';
}

.home {
    position: absolute;
    left: 15%;
}

.Story {
    position: absolute;
    left: 27%;
}

.wallpeper {
    position: absolute;
    left: 40%;
}

.beyourself {
    position: absolute;
    left: 58%;
    color: red;
}

.social {
    position: absolute;
    right: 0;
    width: 20%;
    height: 5%;
    background-color: transparent;
    top: 35px;
}

.social:hover {
    cursor: pointer;
}

.insta {
    position: absolute;
    right: 35px;
    width: 20px;
    height: 20px;
}

.facebook {
    position: absolute;
    right: 70px;
    width: 20px;
    height: 20px;
}

.youtube {
    position: absolute;
    right: 105px;
    width: 20px;
    height: 20px;
    top: 4px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.774);
    position: absolute;
}

.makdi {
    position: absolute;
    width: 8%;
    top: 20px;
    aspect-ratio: 4/3;
    object-fit: contain;
}

.spiderman {
    width: 69%;
    height: 77%;
    top: 13%;
    right: 15%;
    background-color: #ffffff00;
    position: absolute;
    border: 5px solid rgba(255, 255, 255, 0.258);
    border-radius: 10px;
}

.logo1 {
    width: 65%;
    height: 65%;
    /* background-color: #fff; */
    position: absolute;
}

.heading {
    position: absolute;
    color: rgb(0, 0, 0);
    top: 20px;
    left: 100px;
}

.png {
    /* top: 20px; */
    right: 110px;
    position: absolute;
}

.mm {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -12px;
    top: 25px;
}

.content {
    position: absolute;
    color: rgba(255, 255, 255, 0.619);
    width: 40%;
    height: 10%;
    font-size: 10px;
    top: 53%;
    left: 150px;
    font-family: 'Goudy Bookletter 1911';
    letter-spacing: 1px;
    transition: all ease 0.7s;
}

.download {
    padding: 8px 15px;
    margin-top: 30px;
    font-size: 15px;
    border-radius: 8px;
    color: black;
}

.download:hover {
    background-color: #FD151D;
    transition: 0.7s;
    color: aliceblue;
}

.overlay>.makdi:hover {
    scale: 1.25;
    transition: all ease 0.7s;
}